<%= link_to 'list all articles', articles_path %>
<%= link_to 'edit', edit_article_path(@article) %>
<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>



<p>
  <h1><%=h @article.title %></h1>
</p>

<p>
  by <%=h @article.author %>. <%=h @article.edits %> edits since 
<%=h @article.created_at.strftime("%b. %d, %Y") %>. 
</p>

<p>
  <%=h simple_format(@article.body) %>
</p>


