<% content_for :subtitle do %>
...this one time, I drank a gallon of milk in 10 minutes
<% end %>

<h1>Editing <%=h @author.name %></h1>

<% form_for(@author, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>