<%= will_paginate @games %>

<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Date Added</th>
  </tr>
  <% for games in @games %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%=h games.title %></td>
      <td><%=h games.description %></td>
      <% if games.user.eql?(current_user) %>
		<td><%=h games.created_at.to_s(:created_date)  %> by me</td>
	  <% else %>
	    <td><%=h games.created_at.to_s(:created_date)  %> by <%=h games.user %></td>
	  <% end %>
    </tr>
  <% end %>
</table>
