

<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Date Added</th>
  </tr>
  <% for games in @games %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%=h games.title %></td>
      <td><%=h games.description %></td>
      <td><%=h games.created_at.to_s(:created_date)  %> by <%=h games.user %></td>
    </tr>
  <% end %>
</table>
