<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Articl.es -- All the World's Articles (with a name .com hipster love)</title>
  <%= stylesheet_link_tag 'scaffold', 'article' %>
</head>
<body>
<h1 id="bigheader">Articl.es</h1>
<h4 id="subtitle"><%= yield(:subtitle) %></h4> 

<ul class="menubar">
  <li><%= link_to "articles", articles_path %></li>
  <li><%= link_to "authors", authors_path %></li>
</ul>
<p style="color: green"><%= notice %></p>

<%= yield %>

</body>
</html>
