<% content_for :subtitle do %>
Admin
<% end %>

<h2>Editing user</h2>

<% form_for([:admin, @user], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
    <%= image_tag @user.photo.url(:thumb) %>
  </p>
  <p>
    <%= f.label :role %>
    <%= f.select :role_id, @roles.collect { |r| [r.name, r.id]} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
  <%= link_to "Back to Admin Home", admin_root_url %>
</p>