<% content_for :subtitle do %>
...with the name .com hipster love!
<% end %>

<% session[:last_page] = request.url %>

<p id="articleheader">All the World's Articles</p>

<div id="newarticle">
<%= link_to image_tag('add.png') + 'Create an Article', new_article_path, :title => 'Add a new article to the list' %>
</div>

<br />
<%= will_paginate @articles %>

<div id="articletable">
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Body</th>
    <th>Creation Date</th>
    <th class="white"></th>
  </tr>
<% @articles.each do |article| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="lrborder"><%=h article.title %></td>
    <td class="lrborder"><%=h article.author %></td>
    <td class="lrborder"><%=h truncate(article.body.gsub(/<.*?>/,''),
		:length => 50) %></td>
    <td class="lrborder"><%=h article.created_at.strftime("%A, %b. %d %Y") %></td>
    <td class="white"><%= link_to image_tag('zoom.png'), article, :title => "View this entry" %></td>
    <td class="white"><%= link_to image_tag('note_edit.png'), edit_article_path(article), :title => "Edit this entry" %></td>
    <td class="white"><%= link_to image_tag('cross.png'), article, :confirm => 'Are you sure?', :method => :delete, :title => "Delete this entry" %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%=h pluralize(@num_art, 'article') %>.
